body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 08;
}

/*----------------------------Navigation---------------*/

.new-navigation {
    margin-bottom: 0;
}

.navbar-default {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
}

.navbar-header {
    margin-top: 15px;
}

.navBackground {
    background-color: #efefef;
}

.nav-links .nav-item {
    padding: 0px 10px;
}

.menu {
    font-size: 20px;
    margin-top: 12px;
}

.navbar-brand a {
    font-family: 'Bangers', cursive;
    font-size: 48px;
    color: #292929;
    transition: 0.2s ease-in-out;
}

.navbar-brand a:hover {
    text-decoration: none;
    color: #7b7b7b;
    transition: 0.2s ease-in-out;
}

.nav-item a {
    color: #292929;
    transition: 0.2s ease-in-out;
}

.nav-item a:hover {
    color: #7b7b7b;
    transition: 0.2s ease-in-out;
}

.social {
    margin-right: 40px;
    margin-top: 8px;
}

.icons {
    margin-right: 10px;
    font-size: 20px;
}

.hvr-float {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
    transition-timing-function: ease-out;
}

.hvr-float:hover,
.hvr-float:focus,
.hvr-float:active {
    transform: translateY(-8px);
    background-color: transparent;
}


/*-----------------------Background-Image-----------------*/

.image-container {
    padding: 0;
}

.backgroundImage {
    height: 900px;
    background: url(../images/monkees.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: top;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*-----------Top-Section----------*/

.top-album {
    height: 300px;
    width: 300px;
    background-image: url(../images/album2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;

}

.monkees-events {
    font-family: 'Bangers', cursive;
    font-size: 36px;
}


/*------------------------Mid-Columns----------------*/

.container-wrapper {
    background-color: #060606;
}

.midsection-icons {
    margin-top: 75px;
    margin-bottom: 75px;
    width: 100%;
}

.mid-column {
    margin: 50px 0;
}

.mid-column i {
    font-size: 40px;
    padding: 20px;
}

.icon-info {
    color: #eaeaea;
    padding: 10px;
}

.mid-column a {
    color: #eaeaea;
}

.shortcut button {
    background-color: #ffffff;
    border: none;
    color: #000000;
    transition: 0.3s ease-in-out;
}

.shortcut button:hover {
    background-color: #292929;
    border: none;
    color: #efefef;
    transition: 0.3s ease-in-out;
}

.button-link:hover {
    text-decoration: none;
    color: #efefef;
    transition: 0.3s ease-in-out;
}

/*-------------------------Bio-Column------------------*/

.bio-container {
    margin-top: 40px;
}

.names {
    font-family: 'Bangers', cursive;
}

.dj-image {
    height: 200px;
    width: 200px;
    margin-top: 10px;
    background-image: url(../images/dj.jpg);
    background-size: cover;
    background-position: right;
    border-radius: 250px;
}

.md-image {
    height: 200px;
    width: 200px;
    margin-top: 10px;
    background-image: url(../images/md.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 250px;
}

.mn-image {
    height: 200px;
    width: 200px;
    margin-top: 10px;
    background-image: url(../images/mn.jpg);
    background-size: cover;
    background-position: left;
    border-radius: 250px;
}

.pt-image {
    height: 200px;
    width: 200px;
    margin-top: 10px;
    background-image: url(../images/pt.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 250px;
}

/*---------Music------------*/

.video-background {
    background-color: #b3b3b3;
}

#music-video {
    margin-top: 20px;
    margin-bottom: 100px;
}

#apple-music {
    padding: 0;
    width: 100%;
    height: 600px;
    border: none transparent;
}

.apple-container {
    padding: 0;
}




/*---------------------Events---------------*/

.upcoming {
    font-family: 'Bangers', cursive;
    font-size: 36px;
}

.event-wrapper {
    width: 750px;
}

.buy-button {
    text-align: right;
}

.event-list {
    list-style: none;
}


/*-------------Contact---------------*/

.form-background {
    background-color: #b3b3b3;
}

.contact-list {
    margin: 20px auto;
    max-width: 400px;
    padding: 20px 12px 20px 20px;
    border: 1px solid #333333;
    background-color: #efefef;
}

.contact-list li {
    padding: 0;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
}

.contact-list label {
    margin: 0 0 3px 0;
    padding: 0px;
    display: block;
    font-weight: bold;
}

.contact-list .first {
    width: 49%;
}

.contact-list .second {
    width: 49%;
}

.email, .c-email, .option {
    width: 100%;
}

.discription {
    height: 100px;
    width: 100%;
}

.contact-list input[type=submit] {
    background-color: #333333;
    padding: 8px 15px;
	border: none;
	border-radius: 25px;
	color: #fff;
	transition: 0.3s ease-in-out;
}

.contact-list input[type=submit]:hover {
    background-color: #545454;
    padding: 8px 15px;
	border: none;
	color: #fff;
	transition: 0.3s ease-in-out;
}
    /*--------------------------Footer-----------------*/
    
    .footer-container {
        background-color: #e8e8e8;
    }

    .footer-social i {
        font-size: 30px;
        padding: 10px;
        margin: 10px;
        border: transparent;
        border-radius: 30px;
        transition: 0.3s ease-in-out;
    }

    .footer-social i:hover {
        border: transparent;
        border-radius: 30px;
        padding: 10px;
        margin: 10px 10px;
        background-color: #292929;
        color: #efefef;
        transition: 0.3s ease-in-out;
    }

    .footer-social a {
        color: #292929;
    }
    
    .footer-form {
        padding: 0;
    }
    
    .footer-form li {
        list-style: none;
        margin: 10px;
    }
    
    .footer-form .email {
        width: 30%;
    }

    .copy-right {
        color: #292929;
    }
    
    .footer-form input[type=submit] {
        border: none;
        border-radius: 25px;
        background-color: #333333;
        color: #fff;
        padding: 5px 25px;
        transition: 0.3s ease-in-out;
    }
    
    .footer-form input[type=submit]:hover {
        background-color: #545454;
        color: #fff;
        transition: 0.3s ease-in-out;
    }


    /*----Media-Queries-----------*/
    @media (max-width: 1410px) {
        .menu {
            font-size: 18px;
        }

        .nav-links .nav-item {
            padding: 0px 5px;
        }

        .icons {
            margin-right: 5px;
            font-size: 16px;
        }

    }

    @media (max-width: 453px) {
        .footer-social i {
            font-size: 20px;
            padding: 5px;
        }

        .footer-social i:hover {
            font-size: 20px;
            padding: 5px;
        }
    }
