body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
}

/*----------------------------Navigation---------------*/

.new-navigation {
    margin-bottom: 0;
}

.navbar-default {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
}

.navbar-header {
    margin-top: 15px;
    margin-bottom: 10px;
}

.navBackground {
    background-color: #efefef;
}

.nav-links .nav-item {
    padding: 0px 10px;
}

.menu {
    font-size: 20px;
    margin-top: 12px;
}

.navbar-brand {
    padding-left: 0;
}

.navbar-brand a {
    font-family: 'Bangers', cursive;
    font-size: 48px;
    color: #292929;
    transition: 0.2s ease-in-out;
}

.navbar-brand a:hover {
    text-decoration: none;
    color: #7b7b7b;
    transition: 0.2s ease-in-out;
}

.nav-item a {
    color: #292929;
    transition: 0.2s ease-in-out;
}

.navbar-default .navbar-nav li a:hover {
    color: #ff8f00;
    background-color: transparent;
    transition: 0.2s ease-in-out;
}

.social {
    margin-right: 40px;
    margin-top: 8px;
}

.icons {
    margin-right: 10px;
    font-size: 20px;
}

.hvr-float {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
    transition-timing-function: ease-out;
}

.hvr-float:hover,
.hvr-float:focus,
.hvr-float:active {
    transform: translateY(-8px);
    background-color: transparent;
    color: #ff8f00;
}


/*-----------------------Background-Image-----------------*/

.image-column {
    padding: 0;
}

#background-image {
    width: 100%;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;

}

/*-----------Top-Section----------*/

#monkees-album {
    height: 50vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.top-background {
    height: 50vh;
}

.album-column {
    background-color: #e0e0e0;
    height: 50vh;
    padding: 0;
}

.text-column {
    background-color: #9e9e9e;
    height: 50vh;
}

.tour-column {
    background-color: #e0e0e0;
    height: 50vh;
    padding: 0;
}

.tour-list li {
    list-style: none;
    display: block;
    font-weight: bold;
}

.para-1 {
    vertical-align: middle;
    text-align: center;
    font-size: 24px;
    font-family: 'Bangers', cursive;
}

.tour-container {
    border: 1px solid;
    margin: 0;
    background-color: #b5b5b5;
}

.tour-container h3 {
    font-family: 'Bangers', cursive;
    font-size: 32px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0;
}

.tour-container h4 {
    margin-bottom: 10px;
    text-decoration: underline;
    margin-left: 10px;
}

.tour-container ul {
    padding-left: 10px;
}

.tour-button {
    position: relative;
    left: 75px;
    background-color: #171717;
    color: #efefef;
    width: 50%;
    margin-bottom: 5px;
    border: none;
}

.tour-button:hover {
    background-color: #ff8f00;
    color: #171717;
    transition: 0.3s ease-in-out;
}

/*------------------------Mid-Columns----------------*/

.container-wrapper {
    background-color: #bfbfbf;
}

.midsection-icons {
    margin-top: 75px;
    margin-bottom: 75px;
    width: 100%;
}

.mid-column {
    margin: 50px 0;
}

.mid-column i {
    font-size: 40px;
    padding: 20px;
}

.icon-info {
    color: #171717;
    padding: 10px;
}

.mid-column a {
    color: #171717;
}

.shortcut a {
    background-color: #171717;
    border: none;
    color: #ececec;
    transition: 0.3s ease-in-out;
}

.shortcut a:hover {
    background-color: #ff8f00;
    border: none;
    color: #000;
    font-weight: bold;
    transition: 0.3s ease-in-out;
}

/*-------------------------Bio-Column------------------*/

.names {
    font-family: 'Bangers', cursive;
    color: #171717;
}

.quotes {
    font-size: 14px;
    font-weight: bold;
    padding: 2px;
    margin: 5px;
    text-align: center;
    color: #171717;
}

.instrument {
    font-weight: bold;
    color: #171717;
}

.orange-links {
    color: #171717;
    text-decoration: underline;
    transition: 0.3s ease-in-out;
}

.orange-links:hover {
    color: #ff8f00;
    font-style: italic;
    font-weight: bold;
    transition: 0.3s ease-in-out;
}

.bio-container {
    margin-top: 20px;
}

.bmemberTop-container {
    height: 500px;
    padding: 0;
    background-color: #a7a8aa;
}

.bmemberMiddle1-container {
    height: 500px;
    padding: 0;
    background-color: #f7f7f7;
}

.bmembermiddle-container {
    height: 500px;
    padding: 0;
    background-color: #e2e2e2;
}

.bmemberBottom-container {
    height: 500px;
    padding: 0;
    background-color: #757575;
}

.dj-image {
    height: 150px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../images/dj.jpg);
    background-size: cover;
    background-position: right;
    border-radius: 250px;
}

.md-image {
    height: 150px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../images/md.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 250px;
}

.mn-image {
    height: 150px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../images/mn.jpg);
    background-size: cover;
    background-position: left;
    border-radius: 250px;
}

.pt-image {
    height: 150px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../images/pt.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 250px;
}

/*---------Music------------*/

.video-background {
    background-color: #bfbfbf;
}

#music-video {
    width: 100%;
    height: 335px;
    margin: 20px 0 50px 0;
}

#apple-music {
    padding: 0;
    width: 100%;
    height: 600px;
    border: none transparent;
}

.apple-container {
    padding: 0;
}

/*---------------------Events---------------*/

.event-background {
    background-color: #f7f7f7;
}

.upcoming {
    font-family: 'Bangers', cursive;
    font-size: 36px;
    margin-bottom: 50px;
    color: #171717;
}

.event-wrapper {
    max-width: 500px;
    margin: 40px auto 50px auto;
    padding: 10px;
    display: block;
    background-color: #efefef;
    color: #171717;
    border-radius: 5px;
}


.buy-buttons {
    font-weight: bold;
    width: 50%;
    position: relative;
    left: 70px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #171717;
    color: #ececec;
    border: none;
    transition: 0.3s ease-in-out;
}

.buy-buttons:hover {
    background-color: #ff8f00;
    color: #171717;
    transition: 0.3s ease-in-out;
}

.month {
    margin-left: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}

.event-list {
    list-style: none;
    line-height: 28px;
}

.monkeeschair {
    height: 400px;
    width: 400px;
    margin-top: 175px;
    margin-left: 100px;
    border-radius: 50px;
}

/*-------------Contact---------------*/

.info-icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10px;
    font-size: 36px;
    margin-top: 10px;
    color: #ff8f00;
}

.form-background {
    background-color: #f7f7f7;
}

.contact-list {
    margin: 20px auto;
    max-width: 400px;
    padding: 20px 12px 20px 20px;
    border: 1px solid #333333;
    background-color: #efefef;
}

.contact-list li {
    padding: 0;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
}

.contact-list label {
    margin: 0 0 3px 0;
    padding: 0px;
    display: block;
    font-weight: bold;
}

.contact-list .first {
    width: 49%;
}

.contact-list .second {
    width: 49%;
}

.email,
.c-email,
.option {
    width: 100%;
}

.discription {
    height: 100px;
    width: 100%;
}

.contact-list input[type=submit] {
    background-color: #333333;
    padding: 8px 15px;
    border: none;
    border-radius: 25px;
    color: #fff;
    transition: 0.3s ease-in-out;
}

.contact-list input[type=submit]:hover {
    background-color: #ff8f00;
    padding: 8px 15px;
    border: none;
    color: #000;
    font-weight: bold;
    transition: 0.3s ease-in-out;
}

/*--------------------------Footer-----------------*/

.footer-container {
    background-color: #e8e8e8;
}

#footer-text {
    margin: 25px;
} 

.footer-social {
    margin: 0;
}

.footer-social i {
    font-size: 24px;
    padding: 10px;
    margin: 10px;
    border: transparent;
    border-radius: 30px;
    transition: 0.3s ease-in-out;
}

.footer-social i:hover {
    border: transparent;
    border-radius: 30px;
    padding: 10px;
    margin: 10px 10px;
    background-color: #292929;
    color: #efefef;
    transition: 0.3s ease-in-out;
}

.footer-social a {
    color: #292929;
}

.footer-form {
    padding: 0;
}

.footer-form li {
    list-style: none;
    margin: 10px;
}

.footer-form .email {
    width: 90%;
    padding: 5px;
    border: none;
}

.footer-form .email:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}

.copy-right {
    color: #292929;
}

.footer-form input[type=submit] {
    border: none;
    border-radius: 25px;
    background-color: #333333;
    color: #fff;
    padding: 5px 25px;
    transition: 0.3s ease-in-out;
}

.footer-form input[type=submit]:hover {
    background-color: #545454;
    color: #fff;
    transition: 0.3s ease-in-out;
}


/*----Media-Queries-----------*/

/*Navigation*/

@media (max-width: 1410px) {
    .menu {
        font-size: 18px;
    }

    .nav-links .nav-item {
        padding: 0px 5px;
    }

    .icons {
        margin-right: 5px;
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .navbar-brand a {
        font-size: 42px;
    }
}

/*Front Page*/

@media (min-width: 320px) and (max-width: 375px) {
    #background-image {
        height: 250px;
    }
}

@media (min-width: 376px) and (max-width: 768px) {
    #background-image {
        height: 400px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    #background-image {
        height: 700px;
    }
}

@media (min-width: 1025px) {
    #background-image {
        height: 85vh;
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    .top-background,
    .text-column,
    .tour-column,
    .album-column,
    #monkees-album {
        height: 30vh;
    }
}

/*music*/

@media (min-width: 1024px) {
    #music-video {
        width: 50%;
    }
}

@media (min-width: 768px) {
    #music-video {
        margin: 150px 0 80px 0;
    }
}

/*Events*/

@media (min-width: 768px) {
    .buy-buttons {
        left: 120px;
    }
}

/*Footer*/

@media (min-width: 320px) and (max-width: 767px) {
    .footer-social i {
        font-size: 18px;
        padding: 5px;
        margin: 2px;
    }

    .footer-social i:hover {
        font-size: 18px;
        padding: 5px;
        margin: 2px;
    }
}

@media (min-width: 767px) {
    .footer-form .email {
        width: 50%;
    }
}

@media (min-width: 1025px) {
    .footer-form .email {
        width: 30%;
    }
}

@media (min-width: 320px) {
    .copy-right {
        font-size: 12px;
    }
}

@media (min-width: 768px) {
    .copy-right {
        font-size: 14px;
    }
}
